:root {
  --blu: #615fd7;
  --orange: #ff9c33;
  --grey: #f8f8f8;
  --yellow: #ffde33;
  --blue: #073a4b;
}

#logo-navbar {
  height: 100px;
  width: 100px;
}
#Searchbar {
  width: 300px !important;
  font-family: "Roboto";
  border: none;
}

#activite_physique_card {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

#a_propos > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#a_propos div:first-child div {
  width: 40%;
}

#a_propos > div:first-child img {
  width: 45%;
}

#a_propos > div:last-child {
  align-items: stretch;
}
#a_propos > div:last-child div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 30%;
  border: 1px solid var(--blue);
  border-radius: 20px;
  margin-top: 110px;
}

#a_propos > div:last-child .btn {
  pointer-events: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

#a_propos > div:last-child img {
  width: 85px;
}

.agreeTerms {
  margin-top: 30px;
}

.agreeTerms .form-check-label {
  margin-top: -7px;
}

b {
  font-weight: bold;
  color: var(--blue);
}

.btn {
  background-color: var(--yellow);
  color: black;
  border-radius: 3px;
  border: none;
  padding: 7px;
  font-size: 16px;
  font-family: "Roboto";
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--blue);
}

.btn:hover a {
  color: black;
}

#btn_objectif {
  color: black;
  text-decoration: none;
  font-family: "Roboto";
  align-content: center;
}
.btn_objectif {
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 12px;
}

.form-select,
.form-control {
  border-color: black;
  font-size: 16px;
}
.form-control:disabled {
  border-color: black;
  background-color: white;
}
#office-card {
  max-height: 100px;
}
#office-img {
  height: 180px;
}
.card-title {
  color: var(--blue);
  text-align: center;
  font-family: "Roboto" !important;
  font-size: 15px;
  text-decoration: none !important;
}
.card-text {
  text-align: start;
  font-family: "Roboto" !important;
  font-size: 13px;
  color: #6c6c6c;
  height: 38px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  border: none;
}

a:link > .card-text {
  text-decoration: none !important;
  outline: none;
}
.card-price {
  text-align: center;
  font-family: "Roboto" !important;
  font-size: 14px;
  color: black;
  text-decoration: none !important;
}
#card-row {
  margin-top: 80px;
}

#card-col a {
  text-decoration: none !important;
}
.card {
  width: 23rem;
  margin-bottom: 45px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
#concept {
  margin-top: 190px;
  margin-bottom: 130px;
  padding: 90px 90px 90px 90px;

  background-color: var(--grey);
}
#concept > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#concept > div div {
  width: 50%;
  text-align: center;
}

#concept > div:first-of-type img {
  width: 45%;
}

#concept > div:last-of-type img {
  width: 85px;
}

#concept > div:last-of-type {
  margin-top: 100px;
  justify-content: center;
  gap: 10%;
}
#concept > div:last-of-type div {
  width: 30%;
}

#concept > div:last-of-type div p {
  text-align: left;
}

#dasboard_activite_physique {
  padding-bottom: 50px;
}

#dasboard_activite_physique h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

#dasboard_activite_physique > p {
  margin-top: 40px;
}

#dashboard_activite_physique_actions {
  display: flex;
  justify-content: space-between;
}

#dashboard_activite_physique_actions div .btn_objectif {
  margin-left: 40px;
}

#form-profile {
  width: 87px;
}

footer {
  background-color: var(--grey);
  margin-top: 190px;
}

footer ul li {
  margin-right: 30px;
}

.form-group {
  text-align: left;
}

h1,
h3 {
  font-family: "DM sans", sans-serif;
}

h2,
h4,
p,
label,
.form-control {
  font-family: "Roboto";
  color: black;
}

h1,
h3,
h4 {
  color: black;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-family: "DM Sans";
  color: var(--blue);
}

h2 {
  font-size: 20px;
  color: var(--orange);
  margin-top: 23px;
  margin-bottom: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

header > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5%;
}

header > div > div {
  margin-bottom: 50px;
  width: 25%;
}

header div img {
  width: 60%;
}

header nav img {
  width: 90px;
}

header nav,
#a_propos {
  margin-left: 90px;
  margin-right: 90px;
}

.indicator_card {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  min-width: 30%;
  padding: 14px;
  background-color: white;
  border-radius: 20px;
  gap: 30px;
  position: relative;
}

.indicator_card .btn {
  align-self: flex-start;
}

.indicator_card h3 {
  font-size: 20px;
}

.indicator_card img {
  width: 50px;
}

.indicator_card p {
  font-size: 20px;
}

.indicator_card p span {
  color: var(--blue);
}

#incitation_a_inscription {
  margin-top: 170px;
  margin-left: 90px;
  margin-right: 90px;
}

#incitation_a_inscription .btn {
  margin-top: 25px;
}
#incitation_a_inscription > div {
  display: flex;
  justify-content: space-between;
}

#incitation_a_inscription > div > div {
  width: 37%;
}

#incitation_a_inscription > div > div div {
  text-align: center;
  margin-top: 90px;
  padding-left: 4%;
  padding-right: 4%;
}

#incitation_a_inscription > div img {
  width: 55%;
}

.nav-link {
  font-size: 16px;
  font-family: "Roboto";
  color: black;
  margin-right: 40px;
}

p,
label,
.form-control {
  font-size: 16px;
  color: black;
}

#login,
#register {
  display: flex;
  justify-content: space-around;
}

#login .btn {
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

#login form div div {
  text-align: left;
}

#login img:last-of-type,
#register img:last-of-type {
  display: none;
}

#login img:first-child,
#register img:first-child {
  display: initial;
}

#form_register,
#saisie-objectif,
#login div:nth-child(2) {
  text-align: left;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
}

#formulaire {
  background-color: brown;
  width: 800px;
  justify-content: center;
}

label {
  color: black;
  margin-top: 20px;
}

#v-pills-tab {
  background-color: #eceef5;
}

@media (min-width: 300px) and (max-width: 991px) {
  #a_propos > div {
    flex-direction: column;
  }

  #a_propos div:first-child div {
    width: 85%;
  }
  #a_propos > div:last-child {
    align-items: center;
  }
  #a_propos > div:last-child div {
    width: 85%;
    margin-top: 80px;
  }
  #a_propos > div:first-child img {
    width: 85%;
  }

  h1,
  h2 {
    text-align: center;
  }

  h3 {
    margin-bottom: 40px;
  }

  header > div > div {
    width: 85%;
    margin: auto;
  }
  header div > img {
    width: 90%;
  }
  header nav,
  #a_propos {
    margin-left: 12px;
    margin-right: 12px;
  }

  header nav .btn {
    margin-top: 15px;
  }

  #concept {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
  }
  #concept > div {
    flex-direction: column;
    align-content: center;
  }
  #concept > div div {
    width: 100%;
  }

  #concept > div:first-of-type img {
    order: 2;
    width: 85%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  #concept > div:last-of-type {
    margin-top: 60px;
    gap: 40px;
  }

  #concept > div:last-of-type div {
    width: 100%;
  }

  #dashboard {
    display: initial !important;
  }

  #dashboard header > div {
    position: initial !important;
    height: auto !important;
    padding-top: 10px !important;
    flex-direction: row !important;

    width: 100% !important;
    justify-content: space-around !important;
    margin-bottom: 0;
  }

  #dashboard header img {
    width: 80px !important;
  }

  #dashboard main {
    padding: 50px 7px !important;
  }

  #activite_physique_card {
    margin-top: 50px !important;
  }

  .indicator_card {
    width: 100% !important;
  }

  #dashboard_activite_physique_actions {
    flex-direction: column !important;
  }

  #dashboard_activite_physique_actions div .btn_objectif {
    margin: 0;
  }

  #dashboard_activite_physique_actions div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  #dashboard ul {
    flex-direction: column !important;
    margin-bottom: 40px !important;
  }

  #dashboard ul li img {
    width: 40px !important;
  }

  footer {
    margin-top: 100px;
  }

  footer img {
    margin: auto;
  }

  footer ul:last-of-type li {
    margin-top: 15px;
  }

  #form_register,
  #login div:nth-child(2) {
    margin: 0px;
    margin-bottom: 30px;
    padding: 20px;
  }

  #incitation_a_inscription {
    margin: 80px auto auto auto;
    width: 85%;
  }

  #incitation_a_inscription > div {
    flex-direction: column;
  }

  #incitation_a_inscription > div > div {
    width: 100%;
    order: 2;
  }

  #incitation_a_inscription > div > div div {
    margin-top: 70px;
  }
  #incitation_a_inscription > div img {
    width: 100%;
    margin-bottom: 40px;
  }

  .indicator_card {
    gap: 40px;
  }

  #login h1 {
    font-size: 38px;
  }
  #login h2 {
    font-size: 18px;
  }

  #login img:last-of-type,
  #register img:last-of-type {
    width: 100%;
    display: initial;
    margin-bottom: 30px;
  }

  #login img:first-child,
  #register img:first-child {
    display: none;
  }

  #login_logo img,
  #logo_register img {
    margin-left: 20px !important;
  }

  .nav-item,
  .navbar-text {
    margin: 12px;
  }
  .navbar {
    margin-bottom: 30px;
  }

  #register .btn {
    margin-top: 30px;
  }

  #register .col-5,
  #register .col-4,
  #register .col-6 {
    width: 100%;
  }

  #register .form-group {
    margin-top: 15px;
  }
}
