{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!{% endblock %}

{% block content %}

<div class="container">
    <h1>Politique de confidentialité</h1>
    <p>Ici la politique de confidentialité</h1>
</div>

{% endblock %}
